version: "3"
services:
  rms_backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    restart: always
    environment:
      - APP_DOMAIN=http://127.0.0.1:8000
      - DATABASE_ENGINE=mysql
      - DATABASE_NAME=rms
      - DATABASE_USER=root
      - DATABASE_PASSWORD=rms
      - DATABASE_HOST=rms_mysql
      - DATABASE_PORT=3306
      - REDIS_HOST=rms_redis
      - REDIS_PORT=6379
      - REDIS_USERNAME=
      - REDIS_PASSWORD=
      - EMAIL_HOST=smtp.gmail.com
      - EMAIL_PORT=587
      - EMAIL_HOST_USER=
      - EMAIL_HOST_PASSWORD=
    depends_on:
      - rms_mysql
      - rms_redis

  rms_mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: "rms"
      MYSQL_ROOT_PASSWORD: "rms"
    ports:
      - 3307:3306
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init-sql:/docker-entrypoint-initdb.d

  rms_redis:
    image: redis:6.0
    restart: always
    ports:
      - 6379:6379

volumes:
  mysql_data:
  redis_data: